.content {
  background-color: limegreen !important;
  color: white !important;
  opacity: 0.9;
  width: 500px;
  margin: 6rem auto;
  text-align: center;

  .title{
    font-weight: bold !important;
  }

  button {
    margin-left: 25.6rem;
    background-color: white !important;
    border-color: white !important;
    color: limegreen !important;

  }
}